<!-- Central Modal Medium Info -->
<form [formGroup]="editMemberInfoForm" (ngSubmit)="editMemberInfo(editMemberInfoForm.value)" autocomplete="off" *ngIf="member">
    @Html.AntiForgeryToken()
    <!--Modal: Register Form-->
    <div class="modal fade" id="editMemberInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="title"><i class="fa fa-user-plus"></i> Update Member Info </h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" #memberId name="Id" [value]="member.Id">
                        <div class="col-md-12" [ngClass]="{'error':NormalizedUserName.invalid && NormalizedUserName.dirty}">
                            <div class="md-form">
                                <input [(ngModel)]="member.NormalizedUserName" formControlName="NormalizedUserName" value="{{member.NormalizedUserName}}" type="text" id="NormalizedUserName" class="form-control">
                                <label class="active" for="NormalizedUserName">Alternate Name</label>
                                <label *ngIf="NormalizedUserName.invalid && NormalizedUserName.dirty">Alternate Name is required</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':CompanyName.invalid && CompanyName.dirty}">
                            <div class="md-form">
                                <input [(ngModel)]="member.CompanyName" formControlName="CompanyName" value="{{member.CompanyName}}" type="text" id="CompanyName" class="form-control">
                                <label class="active" for="CompanyName">CompanyName</label>
                                <label *ngIf="CompanyName.invalid && CompanyName.dirty">CompanyName is required</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':JobTitle.invalid && JobTitle.dirty}">
                            <div class="md-form">
                                <input [(ngModel)]="member.JobTitle" formControlName="JobTitle" value="{{member.JobTitle}}" type="text" id="JobTitle" class="form-control">
                                <label class="active" for="JobTitle">JobTitle</label>
                                <label *ngIf="JobTitle.invalid && JobTitle.dirty">JobTitle is required</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':Email.invalid && Email.dirty}">
                            <div class="md-form">
                                <input [(ngModel)]="member.Email" formControlName="Email" value="{{member.Email}}" type="text" id="Email" class="form-control">
                                <label class="active" for="Email">Email</label>
                                <label *ngIf="Email.invalid && Email.dirty">Email is required</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':PhoneNumber.invalid && PhoneNumber.dirty}">
                            <div class="md-form">
                                <input [(ngModel)]="member.PhoneNumber" formControlName="PhoneNumber" value="{{member.PhoneNumber}}" type="text" id="PhoneNumber" class="form-control">
                                <label class="active" for="PhoneNumber">PhoneNumber</label>
                                <label *ngIf="PhoneNumber.invalid && PhoneNumber.dirty">PhoneNumber is required</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':ChargeRate.invalid && ChargeRate.dirty}">
                            <div class="md-form">
                                <input [(ngModel)]="member.ChargeRate" formControlName="ChargeRate" value="{{member.ChargeRate}}" type="text" id="ChargeRate" class="form-control">
                                <label class="active" for="ChargeRate">ChargeRate (Per hours)</label>
                                <label *ngIf="ChargeRate.invalid && ChargeRate.dirty">ChargeRate is required</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':Role.invalid && Role.dirty}">
                            <label>Role</label>
                            <select formControlName="Role" [(ngModel)]="member.Role" class="form-control">
                                <option value="">Select Role</option>
                                <option value="Administrator">Administrator</option>
                                <option value="Manager">Manager</option>
                                <option value="Developer">Developer</option>
                                <option value="Accountant">Accountant</option>
                                <option value="Designer">Designer</option>
                            </select>
                            <label *ngIf="Role.invalid && Role.dirty">Role is required</label>
                        </div>
                    </div>

                    <div class="text-center mt-2">
                        <button type="submit" [disabled]="editMemberInfoForm.invalid" class="btn btn-info">Update<i class="fa fa-save" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Register Form-->
</form>
<!-- Central Modal Medium Info-->