@model Unikreativ.Entities.ViewModel.SignUpInfo
@{
    ViewData["Title"] = "Access Denied";
}
<p>Dear @Model.UserName</p>
<p>
    Welcome to Unikreative teamwork please follow this link
    <a href="@Model.SignupUrl"> @Model.SignupUrl</a>
    to activate your account.
    <br />
    Please note the default password is @Model.RandomPassword please change it after you login
</p>