<!-- Central Modal Medium Info -->
<form [formGroup]="newMemberForm" (ngSubmit)="newMember(newMemberForm.value)" autocomplete="off">
    <!--Modal: Register Form-->
    <div class="modal fade" id="newMember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="title"><i class="fa fa-user-plus"></i> New Member </h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" [ngClass]="{'error':UserName.invalid && UserName.dirty}">
                            <div class="md-form">
                                <input formControlName="UserName" type="text" id="UserName" class="form-control">
                                <label class="active" for="UserName">UserName</label>
                                <label *ngIf="UserName.invalid && UserName.dirty">UserName is required</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input formControlName="CompanyName" type="text" id="CompanyName" class="form-control">
                                <label class="active" for="CompanyName">CompanyName (Optional)</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':JobTitle.invalid && JobTitle.dirty}">
                            <div class="md-form">
                                <input formControlName="JobTitle" type="text" id="JobTitle" class="form-control">
                                <label class="active" for="JobTitle">JobTitle </label>
                                <label *ngIf="JobTitle.invalid && JobTitle.dirty">JobTitle is required</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input formControlName="PhoneNumber" type="text" id="PhoneNumber" class="form-control">
                                <label class="active" for="PhoneNumber">PhoneNumber  (Optional)</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':Email.invalid && Email.dirty}">
                            <div class="md-form">
                                <input formControlName="Email" type="text" id="Email" class="form-control">
                                <label class="active" for="Email">Email</label>
                                <label *ngIf="Email.invalid && Email.dirty">Email is required</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':ChargeRate.invalid && ChargeRate.dirty}">
                            <div class="md-form">
                                <input formControlName="ChargeRate" type="text" id="ChargeRate" class="form-control">
                                <label class="active" for="ChargeRate">ChargeRate (Per hours)</label>
                                <label *ngIf="ChargeRate.invalid && ChargeRate.dirty">ChargeRate is required</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':NormalizedUserName.invalid && NormalizedUserName.dirty}">
                            <div class="md-form">
                                <input formControlName="NormalizedUserName" type="text" id="NormalizedUserName" class="form-control">
                                <label class="active" for="NormalizedUserName">Alternate Name</label>
                                <label *ngIf="NormalizedUserName.invalid && NormalizedUserName.dirty">Alternate Name is required</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':Role.invalid && Role.dirty}">
                            <label>Role</label>
                            <select formControlName="Role" class="form-control">
                                <option value="">Select Role</option>
                                <option value="Administrator">Administrator</option>
                                <option value="Manager">Manager</option>
                                <option value="Developer">Developer</option>
                                <option value="Accountant">Accountant</option>
                                <option value="Designer">Designer</option>
                                <option value="Other">Other</option>
                            </select>
                            <label *ngIf="Role.invalid && Role.dirty">Role is required</label>
                        </div>
                    </div>

                    <div class="text-center mt-2">
                        <button type="submit" [disabled]="newMemberForm.invalid" class="btn btn-info">Save<i class="fa fa-save" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Register Form-->
</form>
<!-- Central Modal Medium Info-->