<div class="card" id="login-form">
    <div class="card-block">

        <div class="text-center">
            <img src="~/images/logo.png" id="team-logo" />
            <hr class="mt-2 mb-2">
        </div>

        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form2" class="form-control">
            <label for="form2">Your email</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="form4" class="form-control">
            <label for="form4">Your password</label>
        </div>

        <div class="text-center">
            <button class="btn btn-primary btn-rounded waves-effect waves-light">Login</button>
        </div>
    </div>

    <div class="modal-footer">
        <div class="options">

            <p>Forgot <a href="#">Password?</a></p>
        </div>
    </div>
</div>