<div class="fixed-sn white-skin">
    <!--Double navigation-->
    <header>
        <!-- Sidebar navigation -->
        <uni-sidebar-nav></uni-sidebar-nav>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <uni-header-nav></uni-header-nav>
        <!-- /.Navbar -->
    </header>
    <!--/.Double navigation-->
    <!--Main layout-->
    <main class="">
        <div class="container-fluid">
        </div>
    </main>
</div>