<div class="fixed-sn white-skin">
    <!--Double navigation-->
    <header>
        <!-- Sidebar navigation -->
        <uni-header></uni-header>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <uni-sidebar></uni-sidebar>
        <!-- /.Navbar -->
    </header>
    <!--/.Double navigation-->
    <!--Main layout-->
    <main class="">
        <div class="container-fluid">
        </div>
    </main>
</div>