<!-- Central Modal Medium Info -->
<form [formGroup]="newProjectForm" (ngSubmit)="newProject(newProjectForm.value)" autocomplete="off">
    <!--Modal: Register Form-->
    <div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="title"><i class="fa fa-user-plus"></i> New Project </h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" [ngClass]="{'error':ProjectName.invalid && ProjectName.dirty}">
                            <div class="md-form">
                                <input formControlName="ProjectName" type="text" id="ProjectName" class="form-control">
                                <label class="active" for="ProjectName">Project Name</label>
                                <label *ngIf="ProjectName.invalid && ProjectName.dirty">Project Name is required</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':ClientName.invalid && ClientName.dirty}">
                            <div class="md-form">
                                <input formControlName="ClientName" type="text" id="ClientName" class="form-control">
                                <label class="active" for="ClientName">Client Name</label>
                                <label *ngIf="ClientName.invalid && ClientName.dirty">Client Name is required</label>
                            </div>
                        </div>
                        <div class="col-md-12" [ngClass]="{'error':ProjectDescription.invalid && ProjectDescription.dirty}">
                            <div class="md-form">
                                <i class="fa fa-pencil prefix"></i>
                                <textarea formControlName="ProjectDescription" type="text" id="ProjectDescription" class="md-textarea"></textarea>
                                <label class="active" for="ProjectDescription">Project Description </label>
                                <label *ngIf="ProjectDescription.invalid && ProjectDescription.dirty">Project Description is required</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <button type="submit" [disabled]="newProjectForm.invalid" class="btn btn-info">Save<i class="fa fa-save" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Register Form-->
</form>
<!-- Central Modal Medium Info-->