<div id="project-page">
    <div class="row">
        <div class="col-md-6"><h3>Activity</h3></div>
        <div class="col-md-6"><button type="button" class="btn btn-primary" id="addProjectBtn"  data-toggle="modal" data-target="#newProject">Add Project</button></div>
    </div>
    <div id="activity-panel">
        <div class="card">
        <h3 class="card-header primary-color white-text">Project activity</h3>
            <div class="card-block">
                    <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<new-project></new-project>