
<div *ngFor="let project of projectList">
    <div class="media mb-1 project-list border">
        <div class="row">
            <div class="col-md-4" id="project-left-content">
                <a class="media-left waves-light">
                    <img class="rounded-circle" id="project-img" src="/images/blank_img.jpg" alt="">
                </a>
                <span id="project-name-img">{{project.ProjectName}}</span>
            </div>
            <div class="col-md-8" id="project-content">
                <div class="media-body">
                    <h4 class="media-heading">{{project.ProjectName}}</h4>
                    <ul class="rating inline-ul">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>Client : {{project.Client.CompanyName}}</p>
                    <p>Info : {{project.ProjectDescription}}</p>
                    <p>Project AgreementDate: {{project.AgreementDate | date : 'medium' }}</p>
                </div>
            </div>
        </div>
        
    </div>
</div>

