<div id="project-page">
    <div class="row">
        <div class="col-md-6"><h3>Activity</h3></div>
        <div class="col-md-6"><button type="button" class="btn btn-primary" id="addProjectBtn" data-toggle="modal" data-target="#newProject">Add Project</button></div>
    </div>
    <div id="activity-panel">
        <div class="card">
            <h3 class="card-header primary-color white-text">Project activity</h3>
            <event-list></event-list>
        </div>
    </div>
</div>

<new-project></new-project>