<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="hgroup">
        <h1>500 Error</h1>
        <h2>Internal Server Error !</h2>
      </div>
      <p>Please contact admin for more help</p>
      <p>Go <a href="javascript:history.go(-1)">Back</a> or <a routerLink="/dashboard">Home</a></p>
    </section>
  </div>
</div>